/* Universal and General Styles */

* {
  box-sizing: border-box;
  outline: none;
}

body {
    // font-size:16px;
    // color: #ffffff;
    // font-family:'Open Sans';
    // font-weight: normal;
    // font-style: normal;
    // line-height: 2;

    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh; // do I need both of these? //

    display: flex;
    margin: 0;
    padding: 0;

}

/*
The base font size is 16px and it HEX code is #ffffff
The body font family is Open Sans Light
The HEX code for the button colour is #e2231a
The light grey border color is #dbdbdb
The medium grey color of the text in the footer is #c2c2c2

*/

aside {
    display: flex;
    flex: 0 1 20%;
    position:relative;
    align-items: center;
    justify-content: center;

}

section {
    display: flex;
    flex: 0 1 20%;
    background-color: #fd746c;
    // need to add gradient for color #ff9068
}
