/* IMPORT */

/*// @import 'fonts';
// add in fonts when I create the folder for it.*/

/* UNIVERSAL AND GENERAL STYLE */





aside h1 {
    position: absolute;
    transform: translateX(-80px)rotate(270deg);
    font-size: 5.5rem;
    text-transform: uppercase;
    color: #EDF1F2;
    /*padding-right: 2rem;
    padding-bottom: 2rem;*/

}

.rocket {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 100px;
    height: 100px;
    background: linear-gradient(to top, #fd746c, #ff9068);
    border-radius: 50%;

}

.fa-space-shuttle {
   position: relative;
   transform: rotate(-90deg);
   font-size: 4rem;
}


button {
   background-color: #EDF1F2;
   border: 2px solid white;
   font-size: 1.2rem;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: -0.04rem;
   border-radius: 3px;
   padding: 1rem 4rem;
   box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.clock {
  display: flex;
  position: relative;
  border: 2px solid #ff9068;
  border-radius: 5px;
  font-size: 2rem;
  width: 200px;
  height: 75px;
  color: lightgreen;
  background-color: black;
}
